.imageClass {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/* html, body, #root {
  font: 0.9rem sans-serif;
  background:black;
  color: #1e2432;
  height: 100%;
  margin: 0;
} */

.main-container {
  background:rgb(220, 243, 174) ;
  background-size: cover;
  background-position: center;
  height:100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
