.my-container {
    background:whitesmoke ;
    height: 100%;
   width: 90%;
   margin:0px;
   color:black;
   display:grid;

   /* grid-template-rows: 1fr 1fr; */
   /* grid-template-columns:1fr 1fr; */
   /* grid-gap:20px; */

}
img{
    height:400px;
}
/* .first{
color:blue;
grid-column-start: 2;
grid-column-end: 3;

}
.second{
    color:black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.third{
    color: black;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end:3 ;
} */